.analysis-results-filter-apply-button {
  border-bottom: 1px solid #d3d3d3;
}

.analysis-results-filter-apply-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dedfe0;
  background-color: #f4f4f4;
}
